<a href="https://colab.research.google.com/github/PrabishaPradeep/Dsa/blob/main/case_study_question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **CASE STUDY ON TESTING OF HYPOTHESIS**

---

A company started to invest in digital marketing as a new way of their product
promotions. For that they collected data and decided to carry out a study on it.

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats
sales=pd.read_csv('/content/Sales_add.csv')
print(sales)

       Month      Region      Manager  Sales_before_digital_add(in $)  \
0    Month-1  Region - A  Manager - A                          132921
1    Month-2  Region - A  Manager - C                          149559
2    Month-3  Region - B  Manager - A                          146278
3    Month-4  Region - B  Manager - B                          152167
4    Month-5  Region - C  Manager - B                          159525
5    Month-6  Region - A  Manager - B                          137163
6    Month-7  Region - C  Manager - C                          130625
7    Month-8  Region - A  Manager - A                          131140
8    Month-9  Region - B  Manager - C                          171259
9   Month-10  Region - C  Manager - B                          141956
10  Month-11  Region - B  Manager - C                          159339
11  Month-12  Region - A  Manager - A                          178939
12  Month-13  Region - B  Manager - A                          145062
13  Month-14  Region - A  Manager - A                          151514
14  Month-15  Region - C  Manager - A                          147463
15  Month-16  Region - A  Manager - B                          177195
16  Month-17  Region - A  Manager - C                          140862
17  Month-18  Region - C  Manager - B                          167996
18  Month-19  Region - B  Manager - A                          132135
19  Month-20  Region - A  Manager - B                          152493
20  Month-21  Region - B  Manager - A                          147425
21  Month-22  Region - A  Manager - C                          130263

    Sales_After_digital_add(in $)
0                          270390
1                          223334
2                          244243
3                          231808
4                          258402
5                          256948
6                          222106
7                          230637
8                          226261
9                          193735
10                         203175
11                         276279
12                         205180
13                         253131
14                         229336
15                         187305
16                         234908
17                         191517
18                         227040
19                         212579
20                         263388
21                         243020


1. The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [ ]:
# nullhypothesis,  H0= there is no increase in sales after stepping into digital marketing.
# alternative hypothesis, H1= there is a significant increase in sales after stepping into digital marketing.

In [ ]:
sales_before=sales['Sales_before_digital_add(in $)']
print(sales_before)

0     132921
1     149559
2     146278
3     152167
4     159525
5     137163
6     130625
7     131140
8     171259
9     141956
10    159339
11    178939
12    145062
13    151514
14    147463
15    177195
16    140862
17    167996
18    132135
19    152493
20    147425
21    130263
Name: Sales_before_digital_add(in $), dtype: int64

In [ ]:
sales_after=sales['Sales_After_digital_add(in $)']
print(sales_after)

0     270390
1     223334
2     244243
3     231808
4     258402
5     256948
6     222106
7     230637
8     226261
9     193735
10    203175
11    276279
12    205180
13    253131
14    229336
15    187305
16    234908
17    191517
18    227040
19    212579
20    263388
21    243020
Name: Sales_After_digital_add(in $), dtype: int64

In [ ]:
#we can test the significant difference between two related variables is using a paired sampled t test

t_statistics,p_value=stats.ttest_rel(sales_before,sales_after)
print("p-value :",p_value)
if p_value<0.05:
    print('reject null hypothesis')
else:
    print('accept null hypothesis')

p-value : 6.336667004575778e-11
reject null hypothesis

thus there is a significant increase in sales of the company after stepping into digital marketing.



2.   The company needs to check whether there is any dependency between
the features “Region” and “Manager”.

Null hypothesis H0 = there is no significant dependency between “Region” and “Manager”.

Alternative hypothesis H1 = the variables “Region” and “Manager” are dependent

In [ ]:
# we can perform chi square test of independance to test the dependancy between the features regions and manager.
from scipy.stats import chi2_contingency
contigency_table=pd.crosstab(sales['Region'],sales['Manager'])
print(contigency_table)
chi2,p_value,dof,expected_value = chi2_contingency(contigency_table)
print('p_value :',p_value)
if p_value<0.05:
    print('reject null hypothesis')
else:
    print('accept null hypothesis')

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1
p_value : 0.5493991051158094
accept null hypothesis

thus we can see that there is no significant dependency between the features region and manager.