<a href="https://colab.research.google.com/github/PrabishaPradeep/Dsa/blob/main/Practice_problems_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a Python program to accept a string value from the user and display the count of each character in that string. Sample input: Enter a string value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [ ]:
inp_str = input("Enter the string:")
for x in set(inp_str):
    count=inp_str.count(x)
    print(f" {x}- "+ str(count))

Enter the string:prabisha
 a- 2
 b- 1
 s- 1
 p- 1
 r- 1
 h- 1
 i- 1

2.Write a Python function to find the maximum of three numbers. Sample input: 34,12,7 Sample output = 34

In [ ]:
n1=int(input("Enter the number: "))
n2=int(input("Enter the number: "))
n3=int(input("Enter the number: "))
maximum=max(n1,n2,n3)
print(maximum)

Enter the number: 34
Enter the number: 12
Enter the number: 7
34

3.Write a Python function called exponent(base,exp) that returns an integer value of base raises to the power of exp. Sample input: Enter the base: 2 Enter the exponent: 3 Sample output: 8

In [ ]:
def exponent(base,exp):
    return(base**exp)
x=int(input("Enter the base "))
y=int(input("Enter the exponent "))
exponent(x, y)

Enter the base 2
Enter the exponent 3

8

4.Write a Python function that takes a positive integer and returns the sum of the cube of all the positive integers smaller than the specified number. Sample input: 4 Sample output: 36.

In [ ]:
n=int(input("Enter the number"))
i=0
sum=0
for i in range(n):
    sum=sum+i**3
print(sum)

Enter the number4
36

5.Write a Python program which iterates from 1 to 10. For multiples of 2, print “Fizz” instead of the number and for the multiples of 5, print “Buzz”. For numbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9 FizzBuzz

In [ ]:
for i in range(1,11):
    if i%2==0 and i%5==0:
        print("FizzBuzz")
    elif i%2==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6.Write a Python program to find the most frequent item in a list of numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [ ]:
x=[2,3,4,2,5,2]
element=max(set(x),key=x.count)
print(element)

2

7.Write a Python program to find the sum of squares of the numbers in a list. Sample input: 2,1,3,1 Sample output :15

In [ ]:
a=[2,1,3,1]
i=0
sum=0
for i in a:
    sum=sum+i**2
print(sum)

15

8.Write a Python program using for loop that will iterate from 1 to 15. For each iteration, check if the current number is odd or even, and display the message to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-even …. 15-odd

In [ ]:
for i in range(1,16):
    if i%2==0:
        print(i,"-","even")
    else:
        print(i,"-","odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

9.Write a Python program to convert temperatures to and from Celsius Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f= temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41 Sample output: Temperature in Celsius =5

In [ ]:
F=int(input("Temperature in Fahrenheit:"))
C=(F - 32) * 5 / 9
print("Temperature in Celsius",C)

Temperature in Fahrenheit:41
Temperature in Celsius 5.0

10.Write a Python function to calculate the factorial of a number (a nonnegative integer). The function accepts the number as an argument. Sample input: 3 Sample output: 6

In [ ]:
def factorial(n):
    if (n==1 or n==0):
        return 1
    else:
        return n * factorial(n - 1)
factorial(3)

6